/* font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* rest default margin and padding */
body, ul{
    margin: 0;
    padding: 0;
    
}

/* navbar container */
.navbar{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 108px;
    background-color: #fff;
    
}

/* logo styles */

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 47px;
}

.logo span{
    font-size: 2rem;
    font-weight: 700;
    color: #111111;
}

/* navigation links styles */

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin: 0 24px;
}
#color-1{
    color: #FEA301 ;
}
#color-2{
    color: #01ACFD;
}
#color-3{
    color: #05D4DF;
}
#color-4{
    color: #5D58EF;
}

.nav-links a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}

/* contact button styles */
.contact-button{
    background-color: #FEA301;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 46px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

.enroll-button{
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #111111;
    border-radius: 0.75rem;
    border: none;
}

/* hero section styles */

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 108px;
}
.hero-content{
    max-width: 50%;
}

.hero-content h1{
    font-size: 2.68rem;
    line-height: 1.2;
    color: #FEA301;
}

.hero-content .highlight{
    color: #111111;
}

.hero-content .highlight-blue{
    color: #01ACFD;
}
.hero-content p{
    font-weight: 400;
    font-size: 1rem;
    color: #111111;
}

/* Standard Curriculum styles */

.curriculum{
   background-image: url(../assets/bg.png);
   background-repeat: no-repeat;
   background-size: auto;
}

#curriculum-title{
    margin: 20px 0;
    font-size: 2.875rem;
    font-weight: 700;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 80px;
    
    
}
.card-1{
    
    box-shadow: 1px 1px 1px #DEF5FF ;
    border-radius: 14.5px;
    background: linear-gradient(#DEF5FF, #FFFFFF);
    width: 280px;
    height: 363px;
    padding: 30px;
    text-align: center;
}

.card-2{
    
    box-shadow: 1px 1px 1px #FFF4DC;
    border-radius: 14.5px;
    background: linear-gradient(#FFF4DC, #FFFFFF);
    width: 280px;
    height: 363px;
    padding: 30px;
    text-align: center;
}

.card-3{
    
    box-shadow: 1px 1px 1px #F2E8FF;
    border-radius: 14.5px;
    background: linear-gradient(#F2E8FF, #FFFFFF);
    width: 280px;
    height: 363px;
    padding: 30px;
    text-align: center;
}
#card-color-1{
    color: #64C8FF;
}
#card-color-2{
    color: #F0AA00;
}
#card-color-3{
    color: #8700FF;
}

.card h2 {
    font-size: 1.53rem;
    margin-bottom: 24.4px;
    color: #202020;
}

.card p{
    font-weight: 500;
    font-size: 0.99rem;
    color: #808080;
}

.card a{
    text-decoration: none;
    font-weight: 700;
    font-size: 0.99rem;
    color: #64C8FF; 
}

/* pagination styles */

.pagination{
    display: flex;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
}

.pagination button{
    background-color: #FEA301;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 61px;
}